header {
    border: 5px solid gold;
}

body {
    background-color: rgb(251, 187, 205);
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: rgb(218, 172, 255);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.description {
    text-align: center;
}

nav a:hover {
	text-decoration: gold overline;
	color: gold;
}

main {
    display: inline-grid;
    max-width: 100%;
    padding: 5px;
    grid-template-columns: calc(63% - 0.25rem) calc(37% - 0.25rem);
    grid-template-rows: auto;
    row-gap: 1.5rem;
    column-gap: .5rem;
    border: 3px solid rgb(180, 157, 248);
    background-color: rgb(255, 209, 209);
}

.card {
    border: 4px solid rgb(157, 132, 239);
    border-radius: 10px;
    padding: 0px;
    background-color: rgb(255, 142, 225);
}

footer {
    text-align: center;
}

.another-header {
    background-color: rgb(236, 196, 240);
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}


.lilminiheader {
    text-align: center;
    background-color: blanchedalmond;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 3px;
    width: calc(100% - 6px);
}

.another_header {
    text-align: center;
    background-color: blanchedalmond;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 2px;
    padding-right: 6px;
    width: calc(100% - 6px);
}

.web-dev {
    margin: 0px;
}

img {
    height: 150px;
}