header {
    border: 5px solid gold;
    font-family: cursive;
}

body {
    background-color: rgb(255, 173, 196);
}

nav {
    background-color: rgb(255, 172, 255);
    text-align: center;
}

.description {
    text-align: center;
}

h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}